!!! 5
html
  head
    link(rel='stylesheet',href='/css/site.css', type='text/css')
    title= locals.title || 'chat.os'
    block scripts
  body
    h1#logo cha
      span#logo-t t
      | os
    canvas#logo-anim(width="160", height="160")
    canvas#logo-cache(width="160", height="160")


    .container
      block content

foot
  script(src='/scripts/logo.js')

