extends layout

block nav

block content
  form(action="/rooms/new", method="post")
    fieldset
      legend New Room
      div.clearfix
        input#name.xlarge(name="name", type="text", placeholder="name")
        input.btn.primary(type="submit", value="Create")

  #rooms
    - for room in rooms
      .room
        a(href='/rooms/'+room.name)= room.name
